
.payment-method-title img {
  vertical-align: middle;
}

.payl8r-iframe {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-height: 600px;
  width: 100%;
}