<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="payl8rpaymentgateway" frontName="payl8rpaymentgateway">
            <module name="Magento_Payl8rPaymentGateway" />
        </route>
    </router>
</config>
